[submodule "subghz/Restaurant_Pagers/LRS_Pagers/thanks_jimilinuxguy/lrs-pager-systems-bruteforce"]
	path = subghz/Restaurant_Pagers/LRS_Pagers/thanks_jimilinuxguy/lrs-pager-systems-bruteforce
	url = https://github.com/jimilinuxguy/lrs-pager-systems-bruteforce
